<h2 class="">Turmas</h2>
<button><i class="fa-solid fa-plus"></i> Novo</button>
<button><i class="fa-solid fa-magnifying-glass"></i> Pesquisar</button>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Numero</th>
        <th scope="col">Alunos</th>
        <th scope="col" colspan="2">Opções</th>               
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>3001</td>
        <td>21</td>
        <td><button><i class="fa-solid fa-pen"></i></button></td>        
        <td><button><i class="fa-solid fa-trash-can"></i></button></td>                       
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>3002</td>
        <td>17</td>
        <td><button><i class="fa-solid fa-pen"></i></button></td>        
        <td><button><i class="fa-solid fa-trash-can"></i></button></td>            
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>3003</td>
        <td>12</td> 
        <td><button><i class="fa-solid fa-pen"></i></button></td>        
        <td><button><i class="fa-solid fa-trash-can"></i></button></td>            
      </tr>
    </tbody>
  </table>
