<h2>Alunos</h2>
<button onclick=""><i class="fa-solid fa-plus"></i> Novo</button>
<button onclick=""><i class="fa-solid fa-magnifying-glass"></i> Pesquisar</button>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Turma</th>
        <th scope="col">Aprovado</th>
        <th scope="col" colspan="2">Opções</th> 
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td>@mdo</td>
        <td><button><i class="fa-solid fa-pen"></i></button></td>        
        <td><button><i class="fa-solid fa-trash-can"></i></button></td> 
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td>Thornton</td>
        <td>@fat</td>
        <td><button><i class="fa-solid fa-pen"></i></button></td>        
        <td><button><i class="fa-solid fa-trash-can"></i></button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td><button><i class="fa-solid fa-pen"></i></button></td>        
        <td><button><i class="fa-solid fa-trash-can"></i></button></td>
      </tr>
    </tbody>
  </table>
